root = true

[*.cs]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
dotnet_diagnostic.CA1416.severity = none

[*.csproj]
indent_style = space
indent_size = 2
